<div>
    <h4>What are your thoughts on this thought?</h4>

    <div *ngIf="IsLoggedIn">
        <form #addComment="ngForm" (ngSubmit)="onSubmit(addComment)" class="flex-row justify-center justify-space-between-md align-center">
            <div class="form-group col-12 col-lg-9">
                <textarea 
                name="commentText" 
                #commentText="ngModel" required ngModel
                placeholder="Add your comment..." class="form-control form-input w-100"
                    [ngStyle]="{ 'lineHeight': '1.5', 'resize': 'vertical' }"></textarea>
            </div>

            <div class="form-group col-12 col-lg-3">
                <button class="btn btn-primary btn-block py-3" type="submit">
                    Add Comment
                </button>
            </div>
        </form>
    </div>
    <p *ngIf="!IsLoggedIn">
        You need to be logged in to share your thoughts. Please
        <a to="/login">login</a> or
        <a to="/signup">signup.</a>
    </p>

</div>