<main class="flex-row justify-center mb-4">
    <div class="col-12 col-lg-10">
        <div class="card">
            <h4 class="card-header bg-dark text-light p-2">Sign Up</h4>
            <div class="card-body">

                <form #signUp="ngForm" (ngSubmit)="onSubmit(signUp)">
                    <input class="form-control form-input" placeholder="Your username"  required
                    [(ngModel)]="username" name="username"  />
                    <input class="form-control form-input" placeholder="Your email" name="email"  [(ngModel)]="email"
                        required  />
                    <input class=" form-control form-input" placeholder="******" [(ngModel)]="password"  name="password" type="password" />
                    <button class="form-control btn btn-block btn-primary" [ngStyle]="{ 'cursor': 'pointer' }"
                        type="submit">
                        Submit
                    </button>
                </form>



                <div *ngIf="error" class="my-3 p-3 bg-danger text-white">
                    {{error}}
                </div>

            </div>
        </div>
    </div>
</main>